---
---
<section id="sobre-mi" class="bg-[#1B1E1D] min-h-screen py-32">
    <div class="container mx-auto px-6">
        <div class="text-[#94D8F6] text-sm tracking-wider uppercase">Sobre mí</div>
        <h2 class="text-7xl font-bold mt-2 mb-12 text-white hover:text-[#94D8F6] transition-colors">Brayan Ruiz</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
            <div class="space-y-6">
                <p class="text-gray-400 text-lg">
                    Desarrollador de software especializado en aplicaciones web Full Stack con React, C# .Net y SQL Server.
                </p>
                <p class="text-gray-400 text-lg">
                    Cuento con el título de Tecnologías de Información 
                    de la Universidad Aútonoma de Nuevo León.
                </p>
                <p class="text-gray-400 text-lg">
                    Actualmente tengo 24 años y resido en Monterrey, Nuevo León, México.
                </p>
            </div>

            <div class="bg-black/20 backdrop-blur-lg rounded-xl p-6 hover:bg-[#94D8F6]/5 transition-all duration-300">
                <h3 class="text-2xl font-bold text-[#94D8F6] mb-4">Desarrollador de Software</h3>
                <div class="text-gray-400">
                    <p>Título de Tecnologías de Información de la Universidad Aútonoma de Nuevo León.</p>
                    <p class="mt-4 text-sm text-[#94D8F6]/80">- Graduado el Julio 2023</p>
                </div>
            </div>
        </div>
    </div>
</section>