---
import Layout from '../layouts/Layout.astro';
import Header from '../pages/Header.astro';
import Home from '../pages/Home.astro';
import Projects from '../pages/Projects.astro';
import About from '../pages/About.astro';
import TechStack from '../pages/TechStack.astro';
---

<Layout title="Mi Portfolio Personal">
	<Header />
	
	<Home />

	<Projects />

	<About />

	<!-- Contenido de certificaciones se agregará después -->
	<!-- <section id="certificaciones" class="min-h-screen py-16">
		<h2 class="text-3xl font-bold mb-8">Certificaciones</h2>
	</section> -->

	<TechStack />
</Layout>
